h1 {
    color: orangered;
    font-size: 45px;
    font-family: Chalkduster, fantasy, Arial;
}

.description {
    font-size: 20px;
    color: orange;
    font-family: Chalkduster, fantasy, Arial;
}

body {
    text-align: center;
}

p {
    font-family: DejaVu Sans Mono, monospace, Arial;
}

#envoyer:hover {
    font-size: 30px;
}

#recommencer:hover {
    font-size: 30px;
}

